@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@layer base {
  html, body {
    font-family: 'Sora', sans-serif;
    background-color: #F9F2ED; /* Mengunci warna background figma */
    color: #2F2D2C;
    @apply antialiased tracking-tight; /* tracking-tight menjaga huruf tidak melar ke samping */
  }
}

/* Modifikasi global untuk transisi menu kasir agar tidak kaku */
.framer-menu-active {
  font-feature-settings: "lnum";
}